/latex/*.aux
/latex/*.bbl
/latex/*.blg
/latex/*.lof
/latex/*.lot
/latex/*.out
/latex/*.toc
/latex/*.log
/latex/*.fls
/latex/*.fdb_latexmk
/latex/*.gz

node_modules/
snapshot-snowpack/build/
snapshot-vite/dist/
snapshot-wmr/dist/
